server:
  port: 8081
logging:
  level:
    root: info
    com.example.api.client: debug
spring:
  servlet:
    multipart:
      max-file-size: 1MB

feign:
  client:
    config:
      default:
        loggerLevel: BASIC #BASIC, FULL, HEADERS, NONE
graphql:
  servlet:
    max-query-depth: 20
    exception-handlers-enabled: false
  extended-scalars: BigDecimal, Date
  playground:
    enabled: true
    headers:
      Authorization: Basic Token
      user_id: "ignachete7"
    tabs:
      - name: User
        query: classpath:playground/user.graphql
        variables: classpath:playground/user_variables.json
      - name: Post
        query: classpath:playground/post.graphql
        variables: classpath:playground/post_variables.json
        headers:
          Accept: application/json
      - name: Comment
        query: classpath:playground/comment.graphql
        variables: classpath:playground/comment_variables.json

voyager:
  enabled: true
